<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-page}">
<head>
    <title>Sản phẩm</title>
</head>
<body>
<div layout:fragment="content">

  <a th:href="@{/admin/products/showFormForAdd}" class=" text-white bg-blue-600 hover:bg-blue-800 ml-1 border-0 py-2 px-6 focus:outline-none rounded">Thêm sản phẩm</a>
  <br>
  <br>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Tên sản phẩm
        </th>
        <th scope="col" class="px-6 py-3">
          Hình ảnh
        </th>
        <th scope="col" class="px-6 py-3">
          Loại
        </th>
        <th scope="col" class="px-6 py-3">
          Giá
        </th>
        <th scope="col" class="px-6 py-3">
          Hoạt động
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="flower : ${flowers}" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <th th:text="${flower.name}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        </th>
        <td class="px-6 py-4 h-60">
          <img th:src="@{${'/images/'+ flower.imageUrl}}" alt="">
        </td>
        <td th:text="${flower.category.getName()}" class="px-6 py-4">

        </td>
        <td th:text="${#numbers.formatDecimal(flower.price, 0, 'COMMA', 0, 'POINT')}" class="px-6 py-4">

        </td>
        <td class="px-6 py-4">
          <a th:href="@{/admin/products/showFormForUpdate(id=${flower.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Sửa</a>
          | <a th:href="@{/admin/products/delete(id=${flower.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
               onclick="if(!(confirm('Xác nhận xóa?'))) return false">Xóa</a>
        </td>

      </tr>
      </tbody>
    </table>
  </div>


</div>
</body>
</html>